body {
  background: #F4F4F4;
}
#website-title {
	font-family: 'Coiny', cursive;
	font-size: 50px;
	color: #C0B283;
	text-align: center;
}
#words-body {
	width: 80%;
	padding: 0 0 30px 30px;
	margin: 0 auto; 
	background: #373737;
	border-radius: 25px;
	color:  #DCD0C0;
}
#fact-body {
	width: calc(80% - 30px);
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	display: inline-block;
}
#fact-source {
	color: white;
	text-decoration: none;
}
#news {
	display: inline-block;
	width: 20%;
	float: right;
	padding: 0 20px 0 0;
}
#news-header {
	font-family: 'Coiny', cursive;
	font-size: 25px;
	padding-top: 30px;
	color: rgb(255, 255, 255);
}
#news {
	color: #DCD0C0;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}
